.about-container
{
    display: flex;
    flex-direction: row;
}

.about-text
{
    width: 45%;
    margin-right: 5%;
    padding-top: 10%;
    justify-content: center;
}

.about-text > h3
{
    font-size: 30px;
    padding-left: 4%;
    padding-bottom: 2%;
}

.about-text > p
{
    padding: 2% 0 0 7%;
    line-height: 1.7;
}

.about-img
{
    max-width: 50%;
    margin: 0%;
    object-fit: contain;
    overflow: hidden;
    max-height: 100vh;
}

.about-img > img 
{
    width: 95%;
    margin-left: 3%;
    padding: 2% 0 0 0;
}

@media(max-width: 780px) {
    .about-container
    {
        flex-direction: column;
    }
    .about-text 
    {
        width: 100%;
    }

    .about-img 
    {
        max-width: 100%;
    }
    .about-img > img
    {
        align-items:flex-end;
    }
}