.about-container
{
    display: flex;
    flex-direction: row;
}

.about-text
{
    width: 45%;
    margin-right: 5%;
    padding-top: 10%;
    justify-content: center;
}

.about-text > h3
{
    font-size: 30px;
    padding-left: 4%;
    padding-bottom: 2%;
}

.about-text > p
{
    padding: 2% 0 0 7%;
    line-height: 1.7;
}

.about-img
{
    max-width: 49%;
    margin-bottom: 1%;
    object-fit: contain;
    overflow: hidden;
    padding-left: 3%;
    max-height: 100vh;
}

.about-img > img 
{
    width: 100%;
    margin-left: 3%;
    padding: 2% 0 0 0;
}

@media(max-width: 780px) {
    .about-container
    {
        flex-direction: column;
    }
    .about-text 
    {
        width: 100%;
    }

    .about-img 
    {
        max-width: 100%;
        padding-left: 1%;
        padding-right: 3.8%;
    }
    .about-img > img
    {
        margin-left: 1.5%;
    }
}