.container-carousel
{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 98vw; */
    height: 500px;
    overflow: hidden;
}

.container-slaider 
{
    min-height: 100%;
    width: content;
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
    position: absolute;
    left: 0%;
    transform: translate(0);
    transition: all 1s ease-out;
}

.containerR 
{
    min-width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;  
}

.item 
{
    display: flex;
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.left
{
    flex: 4;
    min-height: 70%;
    display: flex;
}

.lefTContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: 60%;
    margin-left: 10%;
}

.leftContainer > h2
{
    display: flex;    
    font-size: 20px;
    padding-top: 3%;
}

.leftContainer > p
{
    font-size: 15px;
    margin-left: 4%;
}

.btns-container
{
    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 2%;
    padding-right: 2%;
    gap: 6%;
}

.github-icons, 
.link-icon
{
    color: rgba(0, 0, 0, 0.87);
    transition: 0.3s;
    font-size: 30px;
}
.github-icons:hover, .link-icon:hover {
    color: rgb(177, 158, 177);;
    font-size: 32px;
}

.rigth
{
    flex: 8;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.rigth > img 
{
    
    width: 70%;
    min-height: 100%;
    transform: rotate(-10deg);
}

.arrow-left, .arrow-rigth
{
    position: absolute;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 55px;
    transition: 0.5s;
}
.arrow-left 
{
    transform: rotate(180deg);
    left: 10%;
}
.arrow-rigth
{
    right: 10%;
}
.arrow-left:hover, .arrow-rigth:hover
{
    color: rgb(177, 158, 177);
}

@media(max-width: 780px) {
    
    .rigth > img
    {
        width: 80%;   
    }
    
    .container-slaider 
    {
        max-height: 25%;
    }

    .item 
    {
        min-width: 70%;
        max-height: 95%;
    }

    .btns-container
    {
        justify-content: center;
    }

    .arrow-left
    {
        left: 0%;
    }
    .arrow-rigth
    {
        right: 0%;
    }
}